.MainRegis {
  display: flex;
  position: relative;
  margin-left: 15%;
  margin-top: 3%;
  margin-right: 15%;
}

.mainlogo {
  position: absolute;
  width: 234px;
  height: 59px;
  top: 405px;
  left: 436;
}

.tinlog {
  margin-left: 27%;
  margin-top: 32%;
  position: absolute;
}

.tinlog img {
  width: 63px;
  height: 63px;
}

.tinpetlogo {
  margin-left: 35%;
  margin-top: 32%;
  position: absolute;
}

.tagline {
  font-size: 18px;
  color: white;
  margin-left: 34%;
  margin-top: 42%;
  position: absolute;
}

.Regisbox {
  border: 1px solid;
  border-color: #c4c4c4;
  border-radius: 8px;
  background-color: white;
  width: 403px;
  height: 545px;
  margin-left: 20px;
}

.Regisbox h1 {
  text-align: center;
}

.doggo img {
  border-radius: 8px;
  align-self: center;
}

.username {
  font-weight: bold;
  margin-top: 1%;
  margin-left: 3%;
}

.etxt {
  font-weight: bold;
  margin-top: 5%;
  margin-left: 3%;
}

.pwd {
  font-weight: bold;
  margin-top: 1%;
  margin-left: 3%;
}

.blocks {
  border: 1px solid;
  border-color: #c4c4c4;
  border-radius: 5px;
  background-color: #f4f4f4;
  width: 352px;
  height: 50px;
  margin-left: 3%;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.regisbtn {
  color: white;
  font-weight: bold;
  border: none;
  background-color: #ff65c5;

  margin-top: 6%;
  margin-left: 6%;
  width: 351px;
  height: 55px;
  border-radius: 5px;
  outline: none;
}

.regisbtn:hover {
  color:black;
  background-color: grey;
}

.btn:hover {
  color: black;
  background-color: white;
}

.footertxt {
  margin-left: 40%;
  margin-top: 20%;
}

.footbtn {
  border: none;
  color: white;
  margin-top: 17px;
  margin-left: 6%;
  border: none;
  border-radius: 5px;
  background-color: #3e4c6f;
  width: 351px;
  height: 55px;
}

.footbtn:hover {
  color: black;
  background-color: grey;
}